<div class="side-body" id="main-content">
    <div class="row">

        <div class="form-group col-md-3">
            <div class="alert alert-warning" role="alert" ng-hide="userHasBooksOfInterest()"><strong>Warning!</strong> You have no books that match {{bookToExchangeFor.ownedBy}}''s interests</div>
            <label class="control-label">Pick A Book</label>
            <div class="selectContainer">
                <select name="language" class="selectpicker" ng-model="selectedBook">
                    <option ng-repeat="book in userDetails.booksPostedOnExchange" value="{{book.title}}">{{book.title}}</option>
                </select>
            </div>
        </div>

        <div class="col-xs-12 col-sm-2 col-md-3 col-md-offset-1" id="middle-button-container">
            <div id="arrow-right-container" class="text-center">
                <i class="fa fa-arrow-right fa-4x"></i>
            </div>
            <div class="row text-center">
                <button type="button" class="btn btn-warning text-center" ng-click="initiateOffer()"><span class="glyphicon glyphicon-refresh margin-right-small"></span>Make Offer</button>
                <div class="row omb_loginOr">
                    <div class="">
                        <hr class="omb_hrOr">
                        <span class="omb_spanOr">or</span>
                    </div>
                </div>

                <button type="button" class="btn btn-primary text-center" ng-click="exploreOtherOptions()"><span class="glyphicon glyphicon-flash margin-right-small"></span> Explore Other Options</button>
            </div>
        </div>


        <div class="col-md-4 col-md-offset-1">
            <div class="panel panel-default col-xs-12" ng-class="{cardHover: hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false">
                <img src="{{bookToExchangeFor.imgUrl}}" class="img-responsive full-width">
                <div class="panel-body">
                    <div class="media">
                        <div class="media-left ">
                            <a href="#">
                                <img class="media-object profile-picture" src="{{bookToExchangeFor.ownerAvatar}}" alt="...">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">{{bookToExchangeFor.ownedBy}}</h4>
                            <h4 class="media-heading">Exchanges for:</h4>
                        </div>
                    </div>
                    <ul class="list-inline space-out-top-sm">
                        <li ng-repeat="category in bookToExchangeFor.ownerCategoriesOfInterest">
                            <span class="label label-default">{{category}}</span></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

    <div class="container" ng-show="exchangeOptionExists">


        <div class="row bs-wizard" style="border-bottom:0;">

            <div class="col-xs-3 bs-wizard-step complete" ng-repeat="firstName in exchangeOptionPath">
                <!-- complete -->
                <div class=" text-center bs-wizard-stepnum ">
                    <button>{{firstName}}</button>
                    <</div>
                        <div class="progress ">
                            <div class="progress-bar "></div>
                        </div>
                        <a href="# " class="bs-wizard-dot "></a>
                </div>



                <div class="col-xs-3 bs-wizard-step complete ">
                    <!-- active -->
                    <div class="text-center bs-wizard-stepnum ">
                        <button>{{bookToExchangeFor.ownedBy}}</button>
                        <</div>
                            <div class="progress ">
                                <div class="progress-bar "></div>
                            </div>
                            <a href="# " class="bs-wizard-dot "></a>
                    </div>
                </div>

            </div>
        </div>