<div class="side-body" id="main-content">
    <div ng-repeat="bookExchange in userCurrentOffers " class="col-xs-12">
        <div class="col-xs-12 col-sm-4 col-sm-offset-1 col-md-4 col-md-offset-1">
            <div class="panel panel-default col-xs-12" ng-class="{cardHover: hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false">
                <img src="{{bookExchange.bookToAddToExchange.imgUrl}}" class="img-responsive full-width">
                <div class="panel-body">
                    <div class="media">
                        <div class="media-left ">
                            <a href="#">
                                <img class="media-object profile-picture" src="{{bookExchange.bookToAddToExchange.ownerAvatar}}" alt="...">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">{{bookExchange.bookToAddToExchange.ownedBy}}</h4>
                            <h4 class="media-heading">Exchanges for:</h4>
                        </div>
                    </div>
                    <ul class="list-inline space-out-top-sm">
                        <li ng-repeat="category in bookExchange.bookToAddToExchange.ownerCategoriesOfInterest">
                            <span class="label label-default">{{category}}</span></li>
                    </ul>
                    <div class="space-out-top-sm">
                        <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-refresh margin-right-small"></span>Offer Exchange</button>
                    </div>

                </div>
            </div>
        </div>


        <div class="col-xs-12 col-sm-2 col-md-2">
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
            <div class="panel panel-default col-xs-12" ng-class="{cardHover: hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false">
                <img src="{{bookExchange.bookOfferedInExchange.imgUrl}}" class="img-responsive full-width">
                <div class="panel-body">
                    <div class="media">
                        <div class="media-left ">
                            <a href="#">
                                <img class="media-object profile-picture" src="{{bookExchange.bookOfferedInExchange.ownerAvatar}}" alt="...">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">{{bookExchange.bookOfferedInExchange.ownedBy}}</h4>
                            <h4 class="media-heading">Exchanges for:</h4>
                        </div>
                    </div>
                    <ul class="list-inline space-out-top-sm">
                        <li ng-repeat="category in bookExchange.bookOfferedInExchange.ownerCategoriesOfInterest">
                            <span class="label label-default">{{category}}</span></li>
                    </ul>
                    <div class="space-out-top-sm">
                        <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-refresh margin-right-small"></span>Offer Exchange</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>