#bookAddModal #categorySelector{
    padding-left:4.0em;
}

.separate-bottom{
    margin-bottom:1.0em;
}

.category-button-activated{
      background-color: #fff;
                 color: #5383d3;
                  border: 1px solid #5383d3;
}

.submit-button{
   background-color: #fff;
                   color: #5383d3;
                    border: 1px solid #5383d3;

}

.submit-button:hover{
     background-color: #5383d3;
                       color: #fff;
}

@media screen and (max-width: 768px) {
    #categorySelector > div > a{
        margin-left: -2.0em;
    }

    .submit-button{
        margin-top:1.0em;
    }

    #bookAddModal .modal-header > button,#shortlist-creation-modal .modal-header > button{
        margin-top:-0.2em;
    }
}
