/* GLOBAL STYLES
-------------------------------------------------- */

.cardHover {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2)
}

h4 {
    font-size: .9em;
}

.no-padding-left {
    padding-left: 0px;
}

.no-padding-right {
    padding-right: 0px;
}

#loading-indicator {
    min-width: 50px;
    min-height: 50px;
}

#menu-item1,
#menu-item2,
#menu-item3 {
    margin-top: 0px;
    padding-bottom: 0px !important;
}

.profile-picture {
    height: 30px;
    width: 30px;
}

.img-profile {
    max-width: 100%;
    max-height: 100%;
}

.full-width {
    max-width: 100%;
}


/* Book Category badge */

.tag {
    font-size: 14px;
}

.space-out-top-sm {
    margin-top: 0.3em;
}

.space-out-right-sm {
    margin-right: 0.3em;
}

.space-out-top-md {
    margin-top: 0.6em;
}

.space-out-left {
    margin-left: 0.2em;
}

.tag a {
    color: #bbb;
    cursor: pointer;
    opacity: 0.6;
}

.tag a:hover {
    opacity: 1.0
}

.tag .remove {
    vertical-align: bottom;
    top: 0;
}

.tag a {
    margin: 0 0 0 .3em;
}

.tag a .glyphicon-white {
    color: #fff;
    margin-bottom: 2px;
}

#categories-select {
    margin-top: 10px;
}


/* Padding below the footer and lighter body text */

body {
    padding-bottom: 40px;
    color: #5a5a5a;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */


/* Paralax Styles */

#home {
    background: url(/resources/core/img/reading-1.jpg) no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    min-height: 400px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.text-vcenter {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

blockquote > p {
    color: floralwhite
}

blockquote > p > small {
    color: floralwhite
}


/* MARKETING CONTENT
-------------------------------------------------- */


/* Center align the text within the three columns below the carousel */

.marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}

.marketing h2 {
    font-weight: normal;
}

.marketing .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
    margin: 80px 0;
    /* Space out the Bootstrap <hr> more */
}


/* Thin out the marketing headings */

.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}


/* Special class to add a margin between icon and text on navbar*/

.margin-right-small {
    margin-right: 15px;
}


/*Removes undelining from links*/

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}


/*-------- Search input field css------------*/

.add-on .input-group-btn > .btn {
    border-left-width: 0;
    left: -2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}


/* stop the glowing blue shadow */

.add-on .form-control:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
    border-color: #cccccc;
}