/* GLOBAL STYLES
-------------------------------------------------- */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.cardHover {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2)
}

h4 {
    font-size: .9em;
}

.no-padding-left {
    padding-left: 0px;
}

.no-padding-right {
    padding-right: 0px;
}

#loading-indicator {
    min-width: 50px;
    min-height: 50px;
}

#menu-item1,
#menu-item2,
#menu-item3 {
    margin-top: 0px;
    padding-bottom: 0px !important;
}

.profile-picture {
    height: 30px;
    width: 30px;
}

.img-profile {
    max-width: 100%;
    max-height: 100%;
}
#bookCoverImg{
    min-height:300px;
    max-height:300px;
}
.full-width {
    max-width: 100%;
}


/* Book Category badge */

.tag {
    font-size: 14px;
}

.space-out-top-sm {
    margin-top: 0.3em;
}

.space-out-right-sm {
    margin-right: 0.3em;
}

.space-out-top-md {
    margin-top: 0.6em;
}

.space-out-left {
    margin-left: 0.2em;
}

.tag a {
    color: #bbb;
    cursor: pointer;
    opacity: 0.6;
}

.tag a:hover {
    opacity: 1.0
}

.tag .remove {
    vertical-align: bottom;
    top: 0;
}

.tag a {
    margin: 0 0 0 .3em;
}

.tag a .glyphicon-white {
    color: #fff;
    margin-bottom: 2px;
}

#categories-select {
    margin-top: 10px;
}


/* Padding below the footer and lighter body text */

body {
    color: #5a5a5a;
    overflow-x: hidden;

}

.hideVerticalScroll{
     overflow-y: hidden;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */


/* Paralax Styles */

.home {
    background: url(/resources/core/img/reading-2.jpg) no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    max-height: 100%;
    min-height:100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#scrollButtonHolder{
    position:absolute;
    bottom:0;
    left:48%;
    opacity:0.8;
    color:white;
    font-size:5.0em;
    cursor:pointer;
}
.text-vcenter {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

blockquote > p {
    color: floralwhite
}

blockquote > p > small {
    color: floralwhite
}


/* MARKETING CONTENT
-------------------------------------------------- */


/* Center align the text within the three columns below the carousel */

.marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}

.marketing h2 {
    font-weight: normal;
}

.marketing .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
    margin: 80px 0;
    /* Space out the Bootstrap <hr> more */
}


/* Thin out the marketing headings */

.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}


/* Special class to add a margin between icon and text on navbar*/

.margin-right-small {
    margin-right: 15px;
}


/*Removes undelining from links*/

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}


/*-------- Search input field css------------*/

#custom-search-input {
        margin:0;
        margin-top: 10px;
        padding: 0;
            margin-left: 1.0em;
    }

 #custom-search-input input{
        height : 2.5em;
    }
    #custom-search-input .search-query {
        padding-right: 3px;
        padding-right: 4px \9;
        padding-left: 3px;
        padding-left: 4px \9;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */

        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

  #custom-search-input button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: -28px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        color:#337ab7;
    }

#main{
    margin:1.0em;
    min-height:600px;
}

#filterButton{
    margin-left:1.8em;
}

    .position-fixed{
        position:fixed;
        margin-left:75% !important;
        top:7%;
        width:25%;

    }

    blockquote{
        border-left : 5px !important;
    }

    .filter-reached-bottom{
        margin-top:-40%;
        position:relative !important;
    }

    .filterChosen{
      color: #fff !important;
                        background-color:#5383d3;
                                        border: 1px solid #fff;
    }

    a.filterChosen > span{
         color:white !important;
    }
