/*
    Image credits:
    uifaces.com (http://uifaces.com/authorized)
*/
#main-content > div > h2 > i {
    margin-right:0.5em;
    font-size:1.2em;
}

#offers-made{
    margin-top: 4.0em;
}
#offers-made .media-body{
    margin-top:0em;
}

#offers-made #loading-container{
    margin-top:3em;
}
#ratingMechanism > div {
    margin-left : 0px !important;
    margin-top: 1.0em;
}
#login { display: none; }
.login,
.logout {
    position: absolute;
    top: -3px;
    right: 0;
}
.page-header { position: relative; }
.reviews {
    color: #555;
    font-weight: bold;
    margin: 10px auto 20px;
}
.notes {
    color: #999;
    font-size: 12px;
}
.media-body img{
    max-width:120px;
    margin-bottom:0.5em;
}

.rating-holder textarea{
    width:30%;
    height:5.0em;
    margin-bottom:1.0em;
}
.media-body { position: relative;
    padding-top:0.5em;
 }

 #offers-made > .media > div > a >img{
    max-width:150px;
    max-height:150px;
 }
.media-date {
    position: absolute;
    right: 25px;
    top: 0.5em;
}

@media screen and (max-width: 768px) {
    .media-date{
     right: 15px;
      top:1.0em;
    }
}

.media span.glyphicon-resize-horizontal{
    font-size: 3.0em;
    margin-top: 3.0em;

}

.media div.col-md-9 img{
    max-height:280px;
    cursor:pointer;
    min-width: 100%;
    max-width:250px;
}
.media-date li { padding: 0; }
.media-date li:first-child:before { content: ''; }
.media-date li:before {
    content: '.';
    margin-left: -2px;
    margin-right: 2px;
}
.media-comment { margin-bottom: 20px; height:2.3em;}
.media-replied { margin: 0 0 20px 50px; }
.media-replied .media-heading { padding-left: 6px; }

.btn-circle {
    font-weight: bold;
    font-size: 12px;
    padding: 6px 15px;
    border-radius: 20px;
}

.media-heading{


}

.body-content{
    margin-left:1.2em;
    margin-bottom:0.5em;
}

.body-content > div > div {
    padding-left : 0px;
}

.btn-circle span { padding-right: 6px; }
.embed-responsive { margin-bottom: 20px; }
.tab-content {
    padding: 50px 15px;
    border: 1px solid #ddd;
    border-top: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.custom-input-file {
    overflow: hidden;
    position: relative;
    width: 120px;
    height: 120px;
    background: #eee url('https://s3.amazonaws.com/uifaces/faces/twitter/walterstephanie/128.jpg');
    background-size: 120px;
    border-radius: 120px;
}
input[type="file"]{
    z-index: 999;
    line-height: 0;
    font-size: 0;
    position: absolute;
    opacity: 0;
    filter: alpha(opacity = 0);-ms-filter: "alpha(opacity=0)";
    margin: 0;
    padding:0;
    left:0;
}
.uploadPhoto {
    position: absolute;
    top: 25%;
    left: 25%;
    display: none;
    width: 50%;
    height: 50%;
    color: #fff;
    text-align: center;
    line-height: 60px;
    text-transform: uppercase;
    background-color: rgba(0,0,0,.3);
    border-radius: 50px;
    cursor: pointer;
}
.custom-input-file:hover .uploadPhoto { display: block; }

#main-content .pull-left, #offers-made .pull-left{
    margin-top:0.4em;
}


@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css);

#usersInChainList > div > a:hover,
#usersInChainList > div > a:focus { background-color: transparent; }
#usersInChainList > div > a > .quote {
    position: absolute;
    left: 0px;
    top: 0;
    opacity: 0;
    width: 30px;
    height: 30px;
    padding: 5px;
    background-color: #13c0ba;
    border-radius: 15px;
    color: #fff;
}
#usersInChainList > div.active > a > .quote { opacity: 1; }
#usersInChainList > div > a > img { box-shadow: 0 0 0 5px #337ab7; }
#usersInChainList > div > a > img {
    max-width: 100%;
    opacity: .3;
    -webkit-transform: scale(.8,.8);
            transform: scale(.8,.8);
    -webkit-transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

 @media screen and (max-width: 767px) {
    #usersInChainList > div > a > img {
         opacity: 1;
    }

    #usersInChainList > div > h4 {
        padding-bottom:0px;
         margin-bottom:0px;
         padding-top:0px;
                  margin-top:0px;
    }

    #usersInChainList > div {
        margin-top:10px;
        margin-bottom:10px;
    }

    #usersInChainList > div > a > img {
        max-height:125px;
    }
 }

#usersInChainList > div.active > a > img,
#usersInChainList > div:hover > a > img,
#usersInChainList > div:focus > a > img {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.tab-pane .tab-inner { padding: 30px 0 20px; }

@media (min-width: 768px) {
    .nav.nav-justified > li > a > .quote {
        left: auto;
        top: auto;
        right: 20px;
        bottom: 0px;
    }
}

.progress-bar > span {
    margin-left:14em;
}

.opacity-max > img{
    opacity:1 !important;
}

.display-block{
    display:block !important;
}

.display-inline{
    display:inline !important;
}
#collapsedChainDetails{
    margin-top:1.3em;
}

.successful-exchange{
    margin-top:0px;
    padding:10px;
    background-color:RGBA(71, 234, 97, 0.54);
}

.rejected-exchange{
    margin-top:0px;
    padding:10px;
    background-color:#ff6464;
}

#main-content .space-out-top{
    margin-top:3.5em;
    }

 .user-choice-header{
    font-weight:700;
    font-family:Arial;

 }
.chain-creator-wrapper{
    border:2px solid #e3e3e3;
    border-radius:6px;
    margin-top:0.5em;
    background-color: #f5f5f5;
}
  @media screen and (max-width: 767px) {
    .chain-creator-wrapper > h4{
        font-size: 0.65em;
        font-weight:bold;
    }

    .chain-creator-wrapper > img{
        max-width:50%;
        min-width:50%;
        height:100px;
        display: inline-block;
    }
  }

.chain-creator-wrapper > img{
        max-width:100%;
        min-width:50%;
        min-height:150px;
         max-height:150px;
        display: inline-block;
    }

.well-lg{

    padding-bottom:24px;
    padding-top:0px;
    margin-left:1.3em;
    margin-top:0.4em;
}

.well{

    padding:0px !important;
}
    /* BUTTONS */

    .ghost-button{
        display: inline-block;
                              width: 200px;
                              padding: 8px;
                              text-align: center;
                              outline: none;
                              text-decoration: none;

    }

    .reject-offer-button {
     color: #fff;
                              border: 1px solid #fff;
                               background-color: #ff6464;

    }

      .reject-offer-button:hover {
                 background-color: #fff;
                 color: #ff6464;
                  border: 1px solid #ff6464;
             }

    .reject-offer-button:hover > span {
               color:#ff6464;
              }

     .offers-received-button {

          color: #fff;
          border: 1px solid #fff;

            background-color: #5383d3;
        }

        #offers-made i.fa-frown-o{
            margin-right:0.5em;
            font-size:1.2em;
        }

         .offers-received-button:hover {
             background-color: #fff;
             color: #5383d3;
              border: 1px solid #5383d3;
         }
         .offers-received-button  > span, .reject-offer-button > span{
            color:#fff;
         }

         .button-wider{
            width:250px;
         }

          .offers-received-button:hover > span {
           color:#5383d3;
          }
        .align-center{
        horizontal-align:middle;
        }

         #main-content #directRequest img{
                    width:100%;
                    min-width:100%;
                    height:160px;
                }
     @media screen and (max-width: 767px) {
        .rating-holder{
            text-align:center;
        }

        #offers-made > div > h2 , #main-content > div > h2{
            font-size:1.8em;
        }
        #usersInChainList > li > a > img{
            max-width:150px;
        }

        .media .media-object { max-width: 70% }

        .well-lg{
            max-width:320px !important;
            margin-left : 0.5em;
            margin-right: 0.5em;
        }

        .reviews{
            font-size:0.9em;
        }
        .well{
            max-width:320px !important;
        }

        .body-content > h4{
            font-size:0.65em !important;
            padding-top:0.2em;
        }

        .well > div > h4{
            font-size:0.9em;
        }


     }
